<div class="login-component">
  <form class="login-box">
    <h2 class="heading-1">Login</h2>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">{{ '@' }}</span>
      <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">{{ '* *' }}</span>
      <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
    </div>
  </form>
</div>
